
.vs/ProjectSettings.json
.vs/Simulator_study/v15/.suo
.vs/Simulator_study/v15/Browse.VC.db
.vs/Simulator_study/v15/ipch/AutoPCH/94714b4fd83183b2/MAIN.ipch
.vs/Simulator_study/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
